*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: poppins, sans-serif;
    font-size: 16px;
    background-color: #f4f4f4;
    color: #000000;
}
.nav-bar{
    width: 100%;
    height: 80px;
    background-color: #2d0067;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.footer{
    width: 100%;
    height: 50px;
    background-color: #2d0067;
    position: absolute;
    bottom:0px;
}

 .project-1{ 
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-weight: 700;
    margin-left: 50%;
    font-size: 26px;
    
 }
.main-content ul{
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}
ul li a{
    list-style: none;
    margin: 0 20px;
    color: white;
    font-weight: 400;
    font-size: 18px;
    text-decoration: none;
}
ul li{
    text-decoration: none;
    list-style: none;
    margin: 0 20px;     
}
.login-signup-buttons {
    display: flex;
    gap: 12px;
}

.login-btn, .signup-btn {
    padding: 8px 22px;
    border: none;
    border-radius: 20px;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    cursor: pointer;
    margin-right: 10px;
}

.login-btn {
    background: #185a9d;
    color: #fff;
}

.login-btn:hover {
    background: #43cea2;
    color: #185a9d;
}
.login-btn:active{
    background: #ffffff;
    color: #bba500;
}
.signup-btn {
    background: #43cea2;
    color: #fff;
}

.signup-btn:hover {
    background: #185a9d;
    color: #43cea2;
}
/* yadekhi mathi na hernee */

/* Bichko contentko lagi css lekheko */

.content{
    width: 100%;
    height: 100vh;
    background-color:white;
    display: flex;
    align-items: center;
    justify-content: center;
}
.content-left{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    background-color: greenyellow;
    padding-left: 50px;
    padding-right: 50px;
    font-family:"Roboto", sans-serif;
    font-size: 48px;
    color: #3996d2;
    font-weight: 700;
    line-height: 1.2; 
    text-align: left;
    text-transform: capitalize;

}
.content-right{
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #9b0055;
}